*{
	box-sizing: border-box;
}
body{
	font-family: monospace;
}
.container{
	width: 95%;
	margin: auto;
}
.box{
	width: 30%;
	float: left;
	border: 1px solid black;
	position: relative;
	margin: 0 1.66%;
	background-color: #D8D8D8;
}
h1{
	font-size: 200%;
	text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}
.box > h2{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 125%;
	display: block;
	border: 1px solid black;
	margin: 0;
	padding: 7px;
}
.box > p{
	font-size: 100%;
	margin-top: 50px;
    padding: 0 14px;
}
.box:first-child > h2{
	background-color: #9AFE2E;
}
.box:nth-child(2) > h2{
	background-color: #A9D0F5;
}
.box:last-child > h2{
	background-color: #BCA9F5;
}

@media(min-width: 768px) and (max-width: 991px){
	.box:first-child, .box:nth-child(2){
		width: 48%;
		margin-bottom: 30px;
	}
	.box:first-child{
		margin-left: 0;
    	margin-right: 2.3%;
	}
	.box:nth-child(2){
		margin-right: 0;
	}
	.box:last-child{
		width: 100%;
		margin: 0;
	}
}
@media(max-width: 767px){
	.box{
		width: 100%;
		margin: 0;
		margin-bottom: 30px;
	}
}